<div class="container page-wrapper">
  <h1>Withdrawal</h1>
  <div *ngIf="type === 'error'" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
  <div *ngIf="type === 'result'" class="alert alert-success" role="alert">
    <p>Retrieved notes: {{result.notes.FIFTY}} x 50.00$ and {{result.notes.TWENTY}} x 20.00$.
      That equals to {{result.amount.toFixed(2)}}$</p>
  </div>
  <div *ngIf="type === 'loading'" class="alert alert-info" role="alert">
    Withdrawing amount...
  </div>
  <form *ngIf="type == ''" #withdrawalForm="ngForm" (ngSubmit)="onSubmit(withdrawalForm.value)">
    <div class="form-group">
      <label for="amount">Amount ($)</label>
      <input type="number" name="amount" [ngModel]="withdrawalData.amount" class="form-control" id="amount">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <button *ngIf="type === 'error'" (click)="retry()" type="button" class="btn btn-success">Retry</button>
  <button *ngIf="type === 'result'" (click)="retry()" type="button" class="btn btn-success">Withdraw again</button>
</div>
