$primary: darken(#7577bb, 6.5%) !default; // #337ab7;

.navbar {
  background-color: $primary;

  a.navbar-brand {
    color: white;
  }
  a.navbar-brand:hover {
    color: white;
  }

  .navbar-nav{
    a{
      color: white;
    }
  }

}
