<nav class="navbar">
  <a class="navbar-brand" href="/">Centralized Monetary Machine</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['/']">Admin</a>
      <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['/withdrawal']">Withdrawal</a>
    </div>
  </div>
</nav>
