<div class="container page-wrapper">
  <h1>Admin</h1>
  <h4 *ngIf="state==='init'">Initialize Funds</h4>
  <h4 *ngIf="state==='reset'">Reset Funds</h4>
  <div *ngIf="state==='show'">
    <h4>Available Funds</h4>
    <button type="button" (click)="changeState('show')" class="btn btn-sm btn-link">Refresh</button>
  </div>

  <div *ngIf="type === 'error'" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
  <div *ngIf="type === 'result' && state === 'init'" class="alert alert-success" role="alert">
    <p>Initialized notes: {{result.notes.FIFTY}} x 50.00$ and {{result.notes.TWENTY}} x 20.00$.
      That equals to {{result.amount.toFixed(2)}}$</p>
  </div>
  <div *ngIf="type === 'result' && state === 'reset'" class="alert alert-success" role="alert">
    <p>Updated notes: {{result.notes.FIFTY}} x 50.00$ and {{result.notes.TWENTY}} x 20.00$.
      That equals to {{result.amount.toFixed(2)}}$</p>
  </div>
  <div *ngIf="type === 'loading'" class="alert alert-info" role="alert">
    Executing Changes...
  </div>

  <div class="container-fluid" *ngIf="state === 'show' && type === 'result'">
    <div>Amount: {{result.amount}}$</div>
    <div>Notes (50$): {{result.notes.FIFTY}}</div>
    <div>Notes (20$): {{result.notes.TWENTY}}</div>
  </div>

  <form *ngIf="state == 'init' || state == 'reset'" #adminForm="ngForm" (ngSubmit)="onSubmit(adminForm.value)">
    <div class="form-group">
      <label for="fifty">Fifty (quantity)</label>
      <input type="number" name="FIFTY" [ngModel]="adminData.FIFTY" class="form-control" id="fifty">
    </div>
    <div class="form-group">
      <label for="twenty">Twenty (quantity)</label>
      <input type="number" name="TWENTY" [ngModel]="adminData.TWENTY" class="form-control" id="twenty">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <hr>
  <div class="btn-group">
    <button type="button" [disabled]="state === 'init'" (click)="changeState('init')" class="btn">Initialize Funds
    </button>
    <button type="button" [disabled]="state === 'reset'" (click)="changeState('reset')" class="btn">Reset Funds</button>
    <button type="button" [disabled]="state === 'show'" (click)="changeState('show')" class="btn">Show Funds</button>
  </div>
</div>
