<!--The content below is only a placeholder and can be replaced.-->
<div id="container-fluid" class="main-wrapper">
  <app-header></app-header>
  <div id="content" class="main">
    <div class="main-content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>


