/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

html {
  height: 100%;
}

body {
  height: 100%;

  .container.page-wrapper {
    padding: 1em;
    background-color: #dddddd;
    border: 1px solid #c9c9c9
  }

  color: #333;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.hidden {
  visibility: hidden;
}
.loader-overlay {
  position: absolute;
  width: 100%;
  z-index: 500000;
  top: 0;
}
.loader {
  height: 1em;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #FFF;
}
.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 1em;
  background-color: red;
  animation: loading 2s linear infinite;
}
@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% {left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}
